/* background-color section */
.bg-bone {
    background-color: #ECE7DD;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.bg-FFF4B7{
    background-color: #FFF4B7;
}

.bg-006A67{
    background-color: #006A67;
}

.bg-D2C1B6{
    background-color: #D2C1B6;
}

.bg-456882{
    background-color: #456882;
}

.bg-3B0270{
    background-color: #3B0270;
}

.bg-FFF9E5{
    background-color: #FFF9E5;
}

.bg-bootstrap{
    background-color: #7A1CAC;
}

.bg-AD49E1{
    background-color: #AD49E1;
}

.bg-6EACDA{
    background-color: #6EACDA;
}

.bg-000B58{
    background-color: #000B58;
}

.bg-FFD93D{
    background-color: #FFD93D;
}

.bg-002455{
    background-color: #002455;
}

.bg-EF88AD{
    background-color: #EF88AD;
}

.bg-js{
    background-color: #F7DF1E;
}

.bg-react{
    background-color: #61DAFB;
}
/* color section */